{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}

{% if page.header.overlay_filter contains "gradient" %}
{% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% elsif page.header.overlay_filter contains "rgba" %}
{% capture overlay_filter %}{{ page.header.overlay_filter }}{% endcapture %}
{% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% elsif page.header.overlay_filter %}
{% capture overlay_filter %}rgba(0, 0, 0, {{ page.header.overlay_filter }}){% endcapture %}
{% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% endif %}

{% if page.header.image_description %}
{% assign image_description = page.header.image_description %}
{% else %}
{% assign image_description = page.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}


<div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}"
     style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}');{% endif %}; height: 100vh; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-items: center;">


    <div class="wrapper">

        <div class="hero-content">
            <div class="logo-container margin-bottom margin-top-desktop">
                <img src="/assets/images/logo.webp" alt="Onward Recruiting Logo" class="header-logo">
            </div>

            <p class="page__lead margin-bottom"><strong>Ihre Personalberatung für die digitale Zukunft</strong></p>

            <div style="text-align: center">
                <a href="#kontakt" class="btn btn--cta btn--large">IT-Talente und Jobs – Jetzt finden! <i class="fas fa-handshake"></i></a>
            </div>
        </div>

    </div>


</div>


</div>






<script>
  window.addEventListener('scroll', function() {
    let scrollPosition = window.scrollY;

    const heroContent = document.querySelector('.hero-content');

    let maxScroll = 1000;
    let scaleValue = 1 - (scrollPosition / maxScroll);

    if (scaleValue < 0.8) scaleValue = 0.8;
    if (scaleValue > 1) scaleValue = 1;

    heroContent.style.transform = `scale(${scaleValue})`;
    heroContent.style.opacity = scaleValue;
  });
</script>



