<div class="page__hero--overlay"
     style="background-image:
             radial-gradient(circle at center, #fbf6e8 65%, rgba(251, 246, 232, 0) 85%),
             linear-gradient(to right, rgba(53, 219, 160, 0.7), rgba(70, 119, 225, 0.7));
            height: 100vh;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;">






<div class="wrapper">

    <div class="logo-container margin-bottom margin-top-desktop">
      <img src="/assets/images/logo.webp" alt="Onward Recruiting" class="header-logo">
    </div>


    <p class="page__lead margin-bottom"><strong>Ihre Personalberatung für die digitale Zukunft</strong>
    </p>


    <div style="text-align: center">
      <p>

        <a href="#kontakt" class="btn btn--cta btn--large" >Sprechen Sie mit uns über Ihre IT-Bedürfnisse <i class="fas fa-handshake"></i></a>

    </div>

  </div>


</div>