<div class="page__hero--overlay"
     style="background-image: radial-gradient(circle, #fbf6e8 60%, rgba(70, 119, 225, 0.7) 80%, rgba(53, 219, 160, 0.7) 100%);
            height: 100vh;
            background-size: cover;
            background-attachment: fixed; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;">


<div class="wrapper">

    <div class="logo-container">
      <img src="/assets/images/logo.webp" alt="Onward Recruiting" class="header-logo">
    </div>


    <p class="page__lead"><strong>Ihre Personalberatung für die digitale Zukunft.</strong>
    </p>


    <div style="text-align: center">
      <p>

        <a href="" class="btn btn--light-outline btn--large" >Sprechen Sie mit uns über Ihre IT-Bedürfnisse</a>

    </div>

  </div>


</div>