<div id="cookie-banner">
    <h3>Information zur Nutzung von GitHub Pages</h3>
    Diese Website wird über GitHub Pages bereitgestellt und nutzt ein globales Verteilungsnetzwerk (CDN). Bei der Nutzung der Website werden einige Ihrer nicht-personenbezogenen Daten, wie z.B. die IP-Adresse und Informationen zur Seitennutzung, über dieses Netzwerk übertragen, um das ordnungsgemäße Funktionieren zu gewährleisten.
    Mehr Informationen finden Sie im
    <a href="/imprint#github-pages-und-cdn-nutzung" target="_blank" rel="noopener noreferrer nofollow" class="cookie-banner-link">Impressum</a>.

    <h3>Essentielles Cookie</h3>
    Wir verwenden ein essentielles Cookie, um Ihre Präferenzen bezüglich der Datenverarbeitung auf unserer Website zu speichern. Dieses Cookie ist für die Funktionalität unseres Cookie-Banners notwendig und wird für 24 Stunden gespeichert. Es enthält keine personenbezogenen Daten.

    Bitte bestätigen Sie, dass Sie diese Information zur Kenntnis genommen haben. Diese Bestätigung bezieht sich nur auf das essentielle Cookie und stellt keine Zustimmung zur Verwendung weiterer Cookies oder zur Verarbeitung personenbezogener Daten dar.
    Weitere Cookies werden auf unserer Website nicht verwendet.<br><br>

    <button class="btn btn--warning" id="cookie-consent-btn">Zur Kenntnis genommen</button>
</div>



<!-- JavaScript-code for the cookie consent-banner -->
<script>
    if (document.cookie.indexOf('cookieConsent=1') !== -1) {
        document.getElementById('cookie-banner').style.display = 'none';
    }

  function setCookieConsent() {
      document.getElementById('cookie-banner').style.display = 'none';

      var expiresDate = new Date();
      expiresDate.setDate(expiresDate.getDate() + 1);

      document.cookie = 'cookieConsent=1; expires=' + expiresDate.toUTCString() + '; path=/';
  }

    document.getElementById('cookie-consent-btn').addEventListener('click', setCookieConsent);
</script>
