.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.header-logo {
    width: 30vw;
    min-width: 250px;
}

.margin-bottom {
    margin-bottom: 4rem;
}


.margin-top-desktop {
    margin-top: 3rem;
}


@media (max-width: 767px){
    .margin-top-desktop {
        margin-top: 0rem;
    }
}


.header-logo, .page__lead, .btn--cta {
  transform-origin: center;
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

